<div class="product-component">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="">{{prod.name}}</mat-card-title>
            <mat-card-subtitle><i>from: </i>{{prod.sellerName}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="my-3" [src]="prod.signedUrl" [alt]="prod.productImagePath">        
        <mat-card-content>            
            <p class="text-center">
                {{prod.description}}
            </p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center">
            <button *ngIf="!prod.boughtByMe" mat-button color="primary" (click)="buyProduct()">Buy</button>
            <button *ngIf="prod.boughtByMe" mat-button color="warn" (click)="returnProduct()">Return the Item</button>
        </mat-card-actions>
    </mat-card>    
</div>